
<div class="container" style="background-color: rgba(28, 28, 28, 0.9); opacity:0.8;
    ">
    <div class="row">
        <div class="col-md-4">
            <ul class="fList">
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">KVKK</a></li>
            </ul>
        </div>
        <div class="col-md-4 text-center">
            <i class="fas fa-first-aid fa-10x" style="color:#ffe5b4; padding:25px;"></i>
        </div>
        <div class="col-md-4">
            <ul class="fSosyal">
                <li><a href="#"><i class="fab fa-facebook fa-2x" style="color: #3b5998;"></i> </a></li>
                <li><a href="#"><i class="fab fa-instagram fa-2x" style="color: #3f729b;"></i> </a></li>
                <li><a href="#"><i class="fab fa-youtube fa-2x" style="color: #c4302b;"></i> </a></li>
            </ul>
        </div>
    </div>
</div>