@model Exception
@{
    ViewBag.Title = "Hata";
}
<div class="container text-center" style="margin-top:30px;">
    <i class="fas fa-exclamation-triangle fa-10x" style="color:red;"></i>
    <h2>Hata : @Model.Message</h2>
</div>

