@using EczaneApp.EntityLayer
@model Personel
@{
    ViewBag.Title = "Personel Sil";
}

<h2>Personel Sil</h2>

@using (Html.BeginForm("Sil", "Personel", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="control-label">@Model.Ad adlı personeli silmek istiyor musunuz?</label>
    </div>
    <div class="form-group">
        <input type="submit" value="Evet" class="btn btn-default" />
        @Html.ActionLink("İptal", "Listele", "Personel", new { @class = "btn btn-danger" })
    </div>
}

