@using EczaneApp.EntityLayer
@model Kullanici
@{
    ViewBag.Title = "Kullanıcı Sil";
}

<h2>Kullanıcı Sil</h2>

@using (Html.BeginForm("Sil", "Kullanici", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="control-label">@Model.Ad adlı kullanıcıyı silmek istiyor musunuz?</label>
    </div>
    <div class="form-group">
        <input type="submit" value="Evet" class="btn btn-default" />
        @Html.ActionLink("İptal", "Listele", "Kullanici", new { @class = "btn btn-danger" })
    </div>
}

